<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CourseMapper">


    <resultMap id="CategoryMap" type="com.xuecheng.framework.domain.course.ext.CategoryNode">
        <id column="a_id"  property="id" ></id>
        <result column="a_name" property="name"></result>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
            <id column="b_id"  property="id" ></id>
            <result column="b_name" property="name"></result>
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
                <id column="c_id"  property="id" ></id>
                <result column="c_name" property="name"></result>
            </collection>
        </collection>
    </resultMap>


    <select id="findCategoryByName" resultMap="CategoryMap">
        SELECT
            a.id AS a_id,
            a.`name` AS a_name,
            b.id AS b_id,
            b.`name` AS b_name,
            c.id AS c_id,
            c.`name` AS c_name
        FROM
            category a
        LEFT JOIN category b ON a.id = b.parentid
        LEFT JOIN category c ON b.id = c.parentid
        WHERE
            a.parentid = '0'
            <if test="_parameter!=null and _parameter!=''">
                AND b.`name`='#{name}'
            </if>
    </select>


</mapper>